<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prueba</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css"/>
  </head>
  <body ng-app="home">
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a class="active item" href="#">
          Prueba Bitware
        </a>
        <div class="right menu">
          <a class="item" href="https://hanserdev.site/bitware/imc">
            Prueba #1
          </a>
          <a class="item" href="https://hanserdev.site/bitware/rest">
            Prueba #2
          </a>
          <a class="item" href="https://hanserdev.site/bitware/sql">
            Prueba #3
          </a>
         </div>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
  <script src="https://hanserssd.nyc3.digitaloceanspaces.com/build.js"></script>
  <script src="https://hanserssd.nyc3.digitaloceanspaces.com/socket.io.js"></script>
</html>
