<div class="ui grid" ng-init="init()" ng-controller="imcCtrl">
  <div class="ui active page dimmer" ng-show="false">
    <div class="ui indeterminate large text loader">Cargando...</div>
  </div>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui segment">
      <h1 class="ui dividing header">
        Prueba #1 - Calcular IMC <br> (Los logs del sistema se encuetran en la consola del explorador)
      </h1>
      <div class="ui segment">
        <div class="ui form">
          <div class="three fields">
            <div class="field">
              <label>Nombre</label>
              <input class="ui input" type="text" placeholder="Nombre..." ng-model="persona.nombre">
            </div>
            <div class="field">
              <label>Edad</label>
              <input class="ui input" type="number" placeholder="Edad..." ng-model="persona.edad">
            </div>
            <div class="field">
              <label>Sexo</label>
              <select class="ui dropdown" ng-model="persona.sexo">
                <option value="h">Hombre</option>
                <option value="m">Mujer</option>
              </select>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Peso</label>
              <div class="ui right labeled input">
                <input type="number" placeholder="Peso..." ng-model="persona.peso">
                <div class="ui basic label">
                  kg
                </div>
              </div>
            </div>
            <div class="field">
              <label>Altura</label>
              <div class="ui right labeled input">
                <input type="number" placeholder="Altura..." ng-model="persona.altura">
                <div class="ui basic label">
                  cm
                </div>
              </div>
            </div>
            <div class="field">
              <button class="ui positive fluid button" style="margin-top: 25px;" ng-click="calcularIMC()">Calcular IMC</button>
            </div>
          </div><br><br>
          <div ng-show="datosShow">
            <div class="four fields">
              <div class="field">
                <label>Tu IMC es de:</label>
                <p>{[persona.imc]}</p>
              </div>
              <div class="field">
                <label>Lo cual corresponde a que tienes un:</label>
                <p>{[persona.status]}</p>
              </div>
              <div class="field">
                <label>Validacion de edad:</label>
                <p>{[persona.validarEdad]}</p>
              </div>
              <div class="field">
                <label>Numero NSS generado automaticamente:</label>
                <p>{[persona.nss]}</p>
              </div>
            </div><br><br>
            <div class="field">
              <label>Validacion de IMC:</label>
              <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/imc.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</div>
