<div class="ui grid" ng-init="init()" ng-controller="restCtrl">
  <div class="ui active page dimmer" ng-show="false">
    <div class="ui indeterminate large text loader">Cargando...</div>
  </div>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui segment">
      <h1 class="ui dividing header">
        Prueba #2 - Servicios Rest <br> (Los logs del sistema se encuetran en la consola del explorador)
      </h1>
      <div class="ui segment">
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Realizar post:</label>
              <button class="ui positive button" ng-click="postData()">Post</button>
            </div>
            <div class="field">
              <label>Realizar put</label>
              <button class="ui positive button" ng-click="putData()">Put</button>
            </div>
          </div>
          <div class="field">
            <label>Traer datos con Get</label>
            <button class="ui positive button" ng-click="getData()">Get</button>
            <table class="ui celled table" ng-init="currentPage = 1" ng-show="tablaShow">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Usuario</th>
                  <th>Correo</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="i in datos | itemsPerPage: 5" current-page="currentPage">
                  <td>{[ i.Nombre ]}</td>
                  <td>{[ i.Apellidos ]}</td>
                  <td>{[ i.Nombre_Usuario ]}</td>
                  <td>{[ i.Correo_Electronico ]}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr style="text-align: center;">
                  <th colspan="100">
                  <dir-pagination-controls template-url="/bitware/css/dirPagination.tpl.html"></dir-pagination-controls>
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</div>
