<div class="ui grid" ng-init="init()" ng-controller="sqlCtrl">
  <div class="ui active page dimmer" ng-show="false">
    <div class="ui indeterminate large text loader">Cargando...</div>
  </div>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui segment">
      <h1 class="ui dividing header">
        Prueba #3 - Base de Datos
      </h1>
      <div class="ui segment">
        <div class="ui form">
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(1)">Ver codigo</button>
            <h3>Punto #1 - Poblar todas las tablas</h3>
          </div><br>
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(2)">Ver codigo</button>
            <h3>Punto #2 - Mostrar el número de ventas de cada producto</h3>
          </div><br>
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(3)">Ver codigo</button>
            <h3>Punto #3 - Obtener un informe completo de ventas</h3>
          </div><br>
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(4)">Ver codigo</button>
            <h3>Punto #4 - Obtener las ventas totales realizadas en cada piso</h3>
          </div><br>
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(5)">Ver codigo</button>
            <h3>Punto #5 - Obtener el código y nombre de cada cajero junto con el importe total de sus ventas</h3>
          </div><br>
          <div class="field">
            <button class="ui blue right floated button" ng-click="modal(6)">Ver codigo</button>
            <h3>Punto #6 - Obtener el código y nombre de aquellos cajeros que hayan realizado ventas en pisos</br>     
              cuyas ventas totales sean inferiores a los 5000 pesos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
  <!-- Modal punto 1 -->
  <div id="m1" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #1
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/diagrama_sql.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto1.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>

  <!-- Modal punto 2 -->
  <div id="m2" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #2
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/vista2.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto2.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>

  <!-- Modal punto 3 -->
  <div id="m3" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #3
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/vista3.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto3.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>

  <!-- Modal punto 4 -->
  <div id="m4" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #4
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/vista4.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto4.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>

  <!-- Modal punto 5 -->
  <div id="m5" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #5
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/vista5.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto5.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>

  <!-- Modal punto 6 -->
  <div id="m6" class="ui longer transition scrolling modal" >
    <div class="header">
      Punto #6
    </div>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="https://hanserssd.nyc3.digitaloceanspaces.com/vista%206.png">
      </div>
      <div class="description">
        <div class="ui header">Query</div>
        <img class="ui image" src="https://hanserssd.nyc3.digitaloceanspaces.com/punto6.png">
      </div>
    </div>
    <div class="actions">
      <div class="ui blue deny button">
        Cerrar
      </div>
    </div>
  </div>
</div>
